@import "tailwindcss";

.class-faixa-imp {
  height: 8px;
  background-image: url("../assets/impressoras.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 300px;
  margin: 24px 0;
  z-index: 1;
} 