@import "tailwindcss";


#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/src/assets/background-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(1px);
  opacity: 0.35;

  z-index: -1;
}