@import "tailwindcss";


@font-face {
  font-family: 'Montserrat';
  src: url('/src/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/src/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
body h1, h2 {
  font-family: "Montserrat", sans-serif;
;
}

body{
  font-family:'Open Sans', sans-serif; 
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/src/assets/background-main.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(1px);
  opacity: 0.35;

  z-index: -1;
}